.character-img {
    img {
        width: 300px;
        height: 300px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.character-title {
    color: #f5f5f5;
    font-size: 20px;
    padding: 10px;
    margin-top: -47px;
    background-color: #202329;
    opacity: 0.8;
    position: absolute;
    width: 280px;
}

.character-detail {
    background-color: #171c27;
    font-size: 14px;
    line-height: 2;
    padding: 10px;
    margin-top: -3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    div {
        display: flex;
        justify-content: space-between;
    }
}

.character-detail-label {
    color: #f5f5f5;
}

.character-detail-value {
    color: darkorange;
}

.ic-location {
    width: 25px;
    height: 25px;
}