<div class="character-img"><img [src]="character.image"></div>
<div class="character-title">{{ character.name }}</div>
<div class="character-detail">
  <div>
    <div class="character-detail-label">Status</div>
    <div class="character-detail-value">{{ character.status }}</div>
  </div>
  <div>
    <div class="character-detail-label">Spicies</div>
    <div class="character-detail-value">{{ character.species }}</div>
  </div>
  <div>
    <div class="character-detail-label">Gender</div>
    <div class="character-detail-value">{{ character.gender }}</div>
  </div>
  <div>
      <div class="character-detail-label">Origin</div>
      <div class="character-detail-value">{{ character.origin.name }}</div>
    </div>
  <div>
    <div class="character-detail-label">Location</div>
    <div class="character-detail-value">
      <img class="ic-location" src="../assets/img/ic-location.png" (click)="goToLocation()">
    </div>
  </div>
</div>