.title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #171c27;
    padding: 40px;
}

.character-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #3c4859;
    justify-content: center;
    padding: 10px 0;
}

.character {
    padding: 10px;
}
