<div class="title">{{ title }}</div>
<div class="character-container">
  <div *ngFor="let character of characterList" class="character">
    <app-character [Character]="character"></app-character>
  </div>
</div>