.title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #171c27;
    padding: 40px;
}

.location-container {
    display: flex;
    background-color: #3c4859;
    justify-content: center;
    padding: 20px;
    height: 100%;
}

.location-card {
    background-color: #171c27;
    border-radius: 10px;
    padding: 20px;
    height: 180px;
    line-height: 2;
    position: relative;
}

.location-label {
    color: #f5f5f5;
}

.location-value {
    color: darkorange;
}

.ic-arrow-back {
    position: absolute;
    right: 15px;
    bottom: 10px;
    img {
        width: 40px;
        height: 40px;
    }
}