<div class="title">{{ title }}</div>
<div class="location-container">
  <div class="location-card">
    <div class="location-label">Name</div>
    <div class="location-value">{{ location.name }}</div>
    <div class="location-label">Url</div>
    <div class="location-value">{{ location.url }}</div>
    <div class="ic-arrow-back">
      <img src="../assets/img/ic-arrow-back.svg" (click)="backToMain()">
    </div>
  </div>
</div>